html {
  font-size: 15px;
}

pre, code {
  white-space: pre;
  overflow-x: scroll;
}

h2 {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2.5rem;
}

.top {
  margin-top: 0.5em;
  display: block;
  font-size: 1.4em;
  font-style: italic;
}

.top.active {
  text-decoration: underline;
}

.heading {
  display: flex;
  padding-bottom: 1em;
}
.heading h5 {
  font-size: 0.8rem; 
  margin-top: 0.2em;
  margin-bottom: 0.2em
}

.toc ul{
  list-style-type: none;
  padding-left: 0;
}

.toc a h4 {
  color: #ac4142;
}

.toc a h5 {
  color: #ac4142;
  font-size: 0.8rem;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  padding-left: 0.8em;
}

.outline .toc{
  display: none;
}

.sidebar {
  font-size: 0.9rem;
  line-height: 1.3;
}

.sidebar-nav-item {
    display: block;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    border-top: none;
}

.sidebar-nav {
    border-bottom: none;
}

pre{
  border: solid 1px;
  border-color: #f0f0f0;
  background-color: white;
}


.code .failed
{
  background-color:#ac4142; 
  padding: 10px;
  font-size: large;
}

.code .failed h5
{
  color: white;
  margin-top: 0;
  margin-botton: 0;
  font-size: small;
}

.code .failed h4
{  
  color: white;
  font-style: italic;
}

.code .failed hr
{
  margin-top: 15px;
  margin-bottom: 0px;
}

.masthead span
{
  color:#ac4142;
  font-size: 1.8em;
}

@media (max-width: 48rem){
.masthead-title {
    text-align: left;
}}

@media (max-width: 40rem){
.masthead-title {
    text-align: center;
}
.masthead span
{
  font-size: x-large;
}
}

@media (max-width: 30rem) {
  pre, code {
    font-size: x-small;
  } 
  h6 .args
  {
    font-size: x-small;    
  }
}



@media (min-width: 38rem){
.container {
    max-width: 37rem;
    margin-left: 6rem;
 }
}

@media (min-width: 56rem){
.container {
    max-width: 54rem;
}
.page {
  margin-right: 15rem;
}
}

@media (min-width: 60rem){
.outline .toc{
  display: block;
  padding-left: 2em;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 18em;
  background-color: white;
  border: solid 1px #f0f0f0;
}
.outline .toc li.active a.chapter h4{
  font-size: larger;
  font-style: italic;
}

.outline .toc li .section{
  display: none;
}

.outline .toc li.active .section{
  display: inherit;
}

.outline .toc li.active a.active.chapter h4{
  text-decoration: underline;
}

.outline .toc li.active a.active.section h5{
  text-decoration: underline;
}
}


@media (min-width: 70rem){
.container {
    max-width: 66rem;
}}