.error {
  font-weight: bold;
}

.error.version {
  color: #ac4142;
  text-decoration: line-through;
}

.api h2{
  font-style: italic;
  font-size: 1.2rem;
}

.api .entry pre.error {
  background-color: #ac4142;
}
.api .entry pre.error h6 {
  color: white;
  float: left;
}

.api .entry-description
{
 display: block;
 }
 
.api ul
{
  list-style-type: none;
  padding-left: 5px;
}

.api .entry-description h4
{
  height 30px;
  margin-top: 2rem;
  font-size: larger;
 }

.api .entry-description p
{
 margin-bottom: 0px;
 margin-top: 0px;
 }

.api .entry-option h6
{
 padding-right:5px;
 padding-top: 0.6em;
 margin-top: 0;
 }
  
.api pre h6
{
 float: right;
 font-size: small;
 margin-top: 0;
 }
 
 pre.source {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: visibility 0s, opacity 1s linear;
 }

.api input.source-toggle{
  display: none;
}

.api label.source-toggle {
  position: relative;
  float: right;
  top: -1.9em;
  right: 2em;
  color: #ac4142;
  font-style: italic;
  cursor: pointer;
}

.api input[type="checkbox"] + label:after {
  content: "show";
}
.api input[type="checkbox"]:checked + label:after {
  content: "hide";
}

.api input[type="checkbox"]:checked ~ pre.source {
  position: relative;
  height: auto;
  visibility: visible;
  opacity: 1;
}
 
 
 